.wrapper {
    max-width: 1260px;
    width: 80%;
    margin: 0 auto; 
}

img {
    max-width: 100%; 
}

button {
    font-family: $headingFont;
    font-size: 1rem; 
    color: $black; 
    line-height: 32px; 
    letter-spacing: 0.05rem; 
    text-align: center;
    font-weight: bold;
    text-transform: uppercase; 
    background-color: $accent; 
    border: none; 
    padding: 9px 34px; 
    cursor: pointer;
    transition: 0.3s;

    &:hover,
    &:focus {
        background-color: $lightBlueGrey; 
    }
}