form {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 95px; 

    #name {
        margin-right: 10px; 
    }

    #name,
    #email {
        width: calc(50% - 5px); 
        border: none; 
        border-bottom: 5px solid transparent; 
        font-family: $bodyFont; 
        padding: 30px 40px 20px 40px; 

        &::placeholder {
            color: $black;
            opacity: 1;
        }

        &:focus {
            outline: none;
            border-bottom: 5px solid $duskBlue; 
        }
    }

    textarea {
        width: 100%; 
        margin: 18px 0px; 
        border: none; 
        border-bottom: 5px solid transparent; 
        font-family: $bodyFont; 
        padding: 45px 40px; 
        resize: none; 

        &::placeholder {
            color: $black;
            opacity: 1;
        } 

        &:focus {
            outline: none;
            border-bottom: 5px solid $duskBlue; 
        }
    }

    button {
        width: 100%; 
    }
}

.contactForm {
    width: calc(70% - 38px);
}

// Newsletter Pop-up
#newsletterPopUp {
    visibility: hidden; 
    background-color: $whiteShade;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
    width: 60%; 
    position: fixed; 
    top: 25vh;
    right: 20vw; 
    border: 2px solid $accent; 
    padding: 40px 40px; 

    form {
        margin: 0; 

        #email {
            width: 100%; 
            padding: 12px 30px;
        }
    }

    button {
        transition: 0s; // This stops the button from taking longer to disappear than the rest of the div on close
        transition: background-color 0.3s; 
    }

    span.close {
        margin-top: 30px; 
        cursor: pointer; 

        &:hover,
        &:focus {
            text-decoration: underline; 
        }
    }
}

// Comment Form - Thank You Message
#commentForm {
    position: relative; 
}

#thankYouMessage {
    display: none; 
    width: 65%; 
    background-color: rgba($color: $lightBlueGrey, $alpha: 0.6);
    padding: 5px 10px; 
    text-align: center;
    border-radius: 5px; 
    position: absolute; 
    right: 17%; 
    bottom: 60px; 
    margin: 0; 
    transition: 0.5s; 
}