// Homepage Header
header.homepage {
    background-color: $lightBlueGrey; 
    //height: 100vh; 

    .headerContainer {
        display: flex; 
        flex-wrap: wrap;
        position: relative; 

        .imgContainer {
            max-width: 40%; 
            img {
                box-shadow: 20px 18px white; 
                position: relative; 
                top: 60px; 
            }
        }
    
        .headerTitle {
            display: flex; 
            align-items: center; 
            width: calc(60% - 95px); 
            margin-left: 95px;

            h1 {
                font-size: calc(450% + 60 * (100vw - 925px) / 610); 
                // This calculation was based on this article: https://zellwk.com/blog/viewport-based-typography/#precision - which allows me to control the re-sizing of this font-size based on the viewport 
                //font-size: 7.5rem;  <- The original desktop design size, left here for reference
                position: relative;  
            }

            img {
                position: absolute; 
                bottom: 7%;
                right: -10%; 
                width: 11.8vw; 
            }
        }
    }
}

// Blog and Contact Header
header.subpage {
    padding-bottom: 95px; 
    background-color: $whiteShade;

    .wrapper {
        position: relative;

        h1 {
            position: absolute; 
            top: -60px;  
        }
    }
}