// Who's Harper? Section
.aboutSummary {
    background-color: $whiteShade;
    padding-top: 110px; 
    padding-bottom: 110px; 

    .wrapper {
        display: flex; 
        justify-content: flex-end;
    }
    
    .aboutContainer {
        width: 50%; 
    }
}

// Site Overview Section
.siteOverview {
    background-color: $whiteShade;
}

.siteOverview .wrapper {
    display: flex;
    flex-wrap: wrap; 
    margin-top: 80px; 
    padding-bottom: 130px; 

    .overviewContainer {
        width: calc(50% - 50px); 
        display: flex; 
        position: relative;
        margin: 20px 25px; 

        .iconContainer {
            display: flex;
            flex-direction: column;
            position: relative; 
            top: -5px; 
            right: 22px;  

            i {
                text-align: center; 
                border-radius: 50%; 
                width: 50px; 
                height: 50px; 
                background-color: $lightBlueGrey; 
                padding-top: 15px; 
            }
        }
    }
}

// Blog Post Previews
.blogPreviewOne, 
.blogPreviewTwo {
    display: flex; 
    flex-wrap: wrap; 

    .imgContainer {
        width: 50%; 
    }

    .textContainer {
        width: 50%;  

        p {
            margin-bottom: 35px; 
        }

        button {
            padding: 9px 28px; 
        }
    }
}

.blogPreviewOne {
    .imgContainer {
        position: relative;
        top: -45px; 

        img {
            box-shadow: 20px 20px $greyBlue, -155px 20px $greyBlue, -350px 20px $greyBlue;
        }
    }

    .textContainer {
        padding-left: 120px; 
        padding-top: 95px; 

        button {
            margin-bottom: 45px; 
        }
    }
}

.blogPreviewTwo {
    .imgContainer {
        position: relative;
        bottom: -30px; 

        img {
            box-shadow: 20px 20px $lightBlueGrey, 155px 20px $lightBlueGrey, 350px 20px $lightBlueGrey;
        }
    }

    .textContainer {
        padding-right: 125px;
        padding-top: 45px; 
        display: flex;
        flex-direction: column;

        .rightAlignedButton {
             display: flex; 
             justify-content: flex-end; 

            button {
                margin-bottom: 80px; 
            }
        }
    }
}

// About Harper's Journey
.aboutJourney {
    background-color: $whiteShade;

    .wrapper {
        display: flex;
        flex-wrap: wrap;  

        .imgContainer {
            width: calc(25% - 20px);
            margin-top: 170px;
            margin-bottom: 110px;

            img {
                box-shadow: 20px 20px $duskBlue; 
            }
        }

        .textContainer {
            width: calc(75% - 125px); 
            margin-top: 170px;
            margin-left: 125px; 

            p {
                margin-bottom: 35px;
            }
        }
    }
}

// Image Gallery 
.gallery {
    .wrapper {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-between;

        .imgContainer {
            width: calc(33% - 36px); 
            margin: 95px 18px; 
        }
    }
}