.mainNav {
    position: sticky;
    top: 0; 
    z-index: 10; 
    background-color: $lightBlueGrey;

    ul {
        display: flex; 
        justify-content: center;

        li {
            margin: 20px 25px 20px 25px; 
        }

        a {
            transition: 0.3s; 
            border-bottom: 3px solid transparent; 

            &:hover, 
            &:focus {
                border-bottom: 3px solid $duskBlue; 
            }
        }

        a.logo {
            font-size: 2rem; 
            padding-left: 25px;
            padding-right: 25px; 

            &:hover,
            &:focus {
                border-bottom: 3px solid transparent; 
                color: white; 
            }
        }

        a.currentPage {
            color: white; 
        }
    }
}