section.blogPost {
    .wrapper {
        display: flex; 

        .sideContentContainer {
            display: flex;
            flex-direction: column; 

            .sideAbout {
                display: flex;
                flex-direction: column; 
            }
        }
    }
}