// Side Content for both Blog and Contact
.sideContentContainer {
    display: flex;
    flex-direction: column; 
    margin-right: 38px; 
    width: 30%;
}

// Blog Page
section.blogPost {
    background-color: $whiteShade;

    .wrapper {
        display: flex; 

        .mainBlogContainer {
            width: calc(70% - 38px);
        }
    }
}

.sideAbout {
    display: flex;
    flex-direction: column; 
    background-color: white;
    padding: 37px 37px; 
    margin-bottom: 16px; 

    p {
        margin-bottom: 0; 
    }

    h4 {
        margin-top: 20px; 
    }

    a {
        transition: 0.3s; 

        &:hover,
        &:focus {
            color: $accent; 
        }
    }
}

.sideRecent {
    background-color: white;
    padding: 37px 37px; 
    margin-bottom: 16px;
    
    ul {
        padding: 30px 20px 0px 20px; 

        li {
            list-style-type: '\2022';
            padding-left: 0.8rem;
            margin-bottom: 10px; 
        }
    }

    a {
        color: $black; 

        &:hover, 
        &:focus {
            color: $accent; 
        }
    }
}

.postContent {
    background-color: white;
    padding: 45px 40px; 
    margin-bottom: 30px; 
    border-bottom: 5px solid $duskBlue; 
}

.commentsContainer { 
    border-bottom: 5px solid $duskBlue;
    margin-bottom: 30px; 

    .commentOne,
    .commentTwo {
        background-color: white;
        padding: 45px 40px; 
        display: flex; 

        .imgContainer {
            width: 10%; 

            img {
                min-width: 100%; 
            }
        }

        .textContainer {
            margin-left: 20px; 
            width: calc(90% - 20px);

            p {
                margin: 0; 
            }

            .date {
                display: inline-block;
                width: 100%;  
            }
        }
    }

    .commentOne {
        margin-bottom: 20px;
    }
}

// Contact Page 
section.contactPage {
    background-color: $whiteShade;

    .wrapper {
        display: flex;
    } 
}

.contactSide {
    display: flex;
    flex-direction: column; 
    background-color: white;
    padding: 37px 37px; 
    margin-bottom: 16px; 

    ul {
        display: flex;

        li {
            text-decoration: none; 
            color: $duskBlue; 
            font-size: 1.5rem; 
            margin-right: 30px; 

            a:hover, 
            a:focus {
                color: $lightBlueGrey; 
            }
        }
    }

    p {
        margin: 0 0; 
    }

    .harperEmail {
        font-family: $headingFont; 
        font-weight: bold; 
        font-size: 1.2rem; 
        margin: 20px 0; 
    }
}

// Form Success Page
section.formSuccessPage {
    .wrapper {
        margin: 100px auto 100px auto; 

        a {
            padding-bottom: 5px; 
            border-bottom: 3px solid $duskBlue; 
            transition: 0.3s; 

            &:hover,
            &:focus {
                border-bottom: 3px solid $accent; 
            }
        }
    }
}