@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
}

h1, h2, h3, h4, blockquote {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #171717;
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 92px;
  letter-spacing: 0.05rem;
}

h2 {
  font-size: 2.1rem;
  letter-spacing: 0.05rem;
}

h3 {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
}

h4 {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

p {
  font-family: "Cabin", sans-serif;
  line-height: 32px;
  letter-spacing: 0rem;
  color: #171717;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul a {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  color: #171717;
  line-height: 29px;
  letter-spacing: 0.05rem;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper {
  width: 80%;
  max-width: 1260px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

button {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  color: #171717;
  line-height: 32px;
  letter-spacing: 0.05rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f38d8d;
  border: none;
  padding: 9px 34px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus {
  background-color: #b9dde7;
}

.mainNav {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #b9dde7;
}
.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainNav ul li {
  margin: 20px 25px 20px 25px;
}
.mainNav ul a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 3px dotted transparent;
}
.mainNav ul a:hover, .mainNav ul a:focus {
  border-bottom: 3px dotted #227284;
}
.mainNav ul a.logo {
  font-size: 2rem;
  padding-left: 25px;
  padding-right: 25px;
}
.mainNav ul a.logo:hover, .mainNav ul a.logo:focus {
  border-bottom: 3px solid transparent;
  color: white;
}
.mainNav ul a.currentPage {
  color: white;
}

header.homepage {
  background-color: #b9dde7;
}
header.homepage .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
header.homepage .headerContainer .imgContainer {
  max-width: 40%;
}
header.homepage .headerContainer .imgContainer img {
  -webkit-box-shadow: 20px 18px white;
          box-shadow: 20px 18px white;
  position: relative;
  top: 60px;
}
header.homepage .headerContainer .headerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(60% - 95px);
  margin-left: 95px;
}
header.homepage .headerContainer .headerTitle h1 {
  font-size: calc(450% + 60 * (100vw - 925px) / 610);
  position: relative;
}
header.homepage .headerContainer .headerTitle img {
  position: absolute;
  bottom: 7%;
  right: -10%;
  width: 11.8vw;
}

header.subpage {
  padding-bottom: 95px;
  background-color: #f6f6f6;
}
header.subpage .wrapper {
  position: relative;
}
header.subpage .wrapper h1 {
  position: absolute;
  top: -60px;
}

.aboutSummary {
  background-color: #f6f6f6;
  padding-top: 110px;
  padding-bottom: 110px;
}
.aboutSummary .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.aboutSummary .aboutContainer {
  width: 50%;
}

.siteOverview {
  background-color: #f6f6f6;
}

.siteOverview .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
  padding-bottom: 130px;
}
.siteOverview .wrapper .overviewContainer {
  width: calc(50% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 20px 25px;
}
.siteOverview .wrapper .overviewContainer a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 3px dotted transparent;
}
.siteOverview .wrapper .overviewContainer a:hover, .siteOverview .wrapper .overviewContainer a:focus {
  border-bottom: 3px dotted #f38d8d;
}
.siteOverview .wrapper .overviewContainer .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -5px;
  right: 22px;
}
.siteOverview .wrapper .overviewContainer .iconContainer i {
  text-align: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #b9dde7;
  padding-top: 15px;
}

.blogPreviewOne,
.blogPreviewTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blogPreviewOne .imgContainer,
.blogPreviewTwo .imgContainer {
  width: 50%;
}
.blogPreviewOne .textContainer,
.blogPreviewTwo .textContainer {
  width: 50%;
}
.blogPreviewOne .textContainer p,
.blogPreviewTwo .textContainer p {
  margin-bottom: 35px;
}
.blogPreviewOne .textContainer button,
.blogPreviewTwo .textContainer button {
  padding: 9px 28px;
}

.blogPreviewOne .imgContainer {
  position: relative;
  top: -45px;
}
.blogPreviewOne .imgContainer img {
  -webkit-box-shadow: 20px 20px #68b0c1, -155px 20px #68b0c1, -350px 20px #68b0c1;
          box-shadow: 20px 20px #68b0c1, -155px 20px #68b0c1, -350px 20px #68b0c1;
}
.blogPreviewOne .textContainer {
  padding-left: 120px;
  padding-top: 95px;
}
.blogPreviewOne .textContainer button {
  margin-bottom: 45px;
}

.blogPreviewTwo .imgContainer {
  position: relative;
  bottom: -30px;
}
.blogPreviewTwo .imgContainer img {
  -webkit-box-shadow: 20px 20px #b9dde7, 155px 20px #b9dde7, 350px 20px #b9dde7;
          box-shadow: 20px 20px #b9dde7, 155px 20px #b9dde7, 350px 20px #b9dde7;
}
.blogPreviewTwo .textContainer {
  padding-right: 125px;
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blogPreviewTwo .textContainer .rightAlignedButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.blogPreviewTwo .textContainer .rightAlignedButton button {
  margin-bottom: 80px;
}

.aboutJourney {
  background-color: #f6f6f6;
}
.aboutJourney .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.aboutJourney .wrapper .imgContainer {
  width: calc(25% - 20px);
  margin-top: 170px;
  margin-bottom: 110px;
}
.aboutJourney .wrapper .imgContainer img {
  -webkit-box-shadow: 20px 20px #227284;
          box-shadow: 20px 20px #227284;
}
.aboutJourney .wrapper .textContainer {
  width: calc(75% - 125px);
  margin-top: 170px;
  margin-left: 125px;
}
.aboutJourney .wrapper .textContainer p {
  margin-bottom: 35px;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .wrapper .imgContainer {
  width: calc(33% - 36px);
  margin: 95px 18px;
}

.sideContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 38px;
  width: 30%;
}

section.blogPost {
  background-color: #f6f6f6;
}
section.blogPost .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.blogPost .wrapper .mainBlogContainer {
  width: calc(70% - 38px);
}

.sideAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 37px 37px;
  margin-bottom: 16px;
}
.sideAbout p {
  margin-bottom: 0;
}
.sideAbout h4 {
  margin-top: 20px;
}
.sideAbout a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sideAbout a:hover, .sideAbout a:focus {
  color: #f38d8d;
}

.sideRecent {
  background-color: white;
  padding: 37px 37px;
  margin-bottom: 16px;
}
.sideRecent ul {
  padding: 30px 20px 0px 20px;
}
.sideRecent ul li {
  list-style-type: "•";
  padding-left: 0.8rem;
  margin-bottom: 10px;
}
.sideRecent a {
  color: #171717;
}
.sideRecent a:hover, .sideRecent a:focus {
  color: #f38d8d;
}

.postContent {
  background-color: white;
  padding: 45px 40px;
  margin-bottom: 30px;
  border-bottom: 5px solid #227284;
}

.commentsContainer {
  border-bottom: 5px solid #227284;
  margin-bottom: 30px;
}
.commentsContainer .commentOne,
.commentsContainer .commentTwo {
  background-color: white;
  padding: 45px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.commentsContainer .commentOne .imgContainer,
.commentsContainer .commentTwo .imgContainer {
  width: 10%;
}
.commentsContainer .commentOne .imgContainer img,
.commentsContainer .commentTwo .imgContainer img {
  min-width: 100%;
}
.commentsContainer .commentOne .textContainer,
.commentsContainer .commentTwo .textContainer {
  margin-left: 20px;
  width: calc(90% - 20px);
}
.commentsContainer .commentOne .textContainer p,
.commentsContainer .commentTwo .textContainer p {
  margin: 0;
}
.commentsContainer .commentOne .textContainer .date,
.commentsContainer .commentTwo .textContainer .date {
  display: inline-block;
  width: 100%;
}
.commentsContainer .commentOne {
  margin-bottom: 20px;
}

section.contactPage {
  background-color: #f6f6f6;
}
section.contactPage .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 37px 37px;
  margin-bottom: 16px;
}
.contactSide ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactSide ul li {
  text-decoration: none;
  color: #227284;
  font-size: 1.5rem;
  margin-right: 30px;
}
.contactSide ul li a:hover,
.contactSide ul li a:focus {
  color: #b9dde7;
}
.contactSide p {
  margin: 0 0;
}
.contactSide .harperEmail {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 20px 0;
}

section.formSuccessPage .wrapper {
  margin: 100px auto 100px auto;
}
section.formSuccessPage .wrapper a {
  padding-bottom: 5px;
  border-bottom: 3px solid #227284;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section.formSuccessPage .wrapper a:hover, section.formSuccessPage .wrapper a:focus {
  border-bottom: 3px solid #f38d8d;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 95px;
}
form #name {
  margin-right: 10px;
}
form #name,
form #email {
  width: calc(50% - 5px);
  border: none;
  border-bottom: 5px solid transparent;
  font-family: "Cabin", sans-serif;
  padding: 30px 40px 20px 40px;
}
form #name::-webkit-input-placeholder, form #email::-webkit-input-placeholder {
  color: #171717;
  opacity: 1;
}
form #name::-moz-placeholder, form #email::-moz-placeholder {
  color: #171717;
  opacity: 1;
}
form #name:-ms-input-placeholder, form #email:-ms-input-placeholder {
  color: #171717;
  opacity: 1;
}
form #name::-ms-input-placeholder, form #email::-ms-input-placeholder {
  color: #171717;
  opacity: 1;
}
form #name::placeholder,
form #email::placeholder {
  color: #171717;
  opacity: 1;
}
form #name:focus,
form #email:focus {
  outline: none;
  border-bottom: 5px solid #227284;
}
form textarea {
  width: 100%;
  margin: 18px 0px;
  border: none;
  border-bottom: 5px solid transparent;
  font-family: "Cabin", sans-serif;
  padding: 45px 40px;
  resize: none;
}
form textarea::-webkit-input-placeholder {
  color: #171717;
  opacity: 1;
}
form textarea::-moz-placeholder {
  color: #171717;
  opacity: 1;
}
form textarea:-ms-input-placeholder {
  color: #171717;
  opacity: 1;
}
form textarea::-ms-input-placeholder {
  color: #171717;
  opacity: 1;
}
form textarea::placeholder {
  color: #171717;
  opacity: 1;
}
form textarea:focus {
  outline: none;
  border-bottom: 5px solid #227284;
}
form button {
  width: 100%;
}

.contactForm {
  width: calc(70% - 38px);
}

footer {
  text-align: center;
  background-color: #171717;
}
footer p {
  color: #f6f6f6;
  margin: 0 auto;
  padding: 12px 0;
  line-height: 1rem;
}

@media (min-width: 501px) {
  .mobileNav {
    display: none;
  }
}
@media (max-width: 1301px) {
  header.homepage .headerContainer .headerTitle h1 img {
    bottom: 15%;
  }
}
@media (max-width: 1041px) {
  .wrapper {
    width: 90%;
  }

  header.homepage .headerContainer .headerTitle h1 img {
    bottom: 24%;
  }

  .blogPreview .blogPreviewOne .textContainer {
    padding-left: 70px;
    padding-top: 80px;
  }
  .blogPreview .blogPreviewTwo .textContainer {
    padding-right: 70px;
  }

  .aboutJourney .wrapper .textContainer {
    width: calc(75% - 100px);
    margin-top: 80px;
    margin-left: 100px;
  }
}
@media (max-width: 801px) {
  header.homepage .headerContainer .headerTitle {
    width: calc(60% - 70px);
    margin-left: 70px;
  }
  header.homepage .headerContainer .headerTitle h1 {
    font-size: 4.5rem;
  }
  header.homepage .headerContainer .headerTitle h1 img {
    width: 15vw;
    bottom: 19%;
    right: -11%;
  }

  .aboutSummary {
    padding-top: 130px;
    padding-bottom: 90px;
  }
  .aboutSummary .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutSummary .wrapper .aboutContainer {
    width: 80%;
  }

  .siteOverview .wrapper {
    margin-top: 60px;
    padding-bottom: 80px;
  }

  .blogPreview .blogPreviewOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogPreview .blogPreviewOne .imgContainer {
    width: 80%;
  }
  .blogPreview .blogPreviewOne .textContainer {
    width: 80%;
    padding-left: 0;
    padding-top: 20px;
    text-align: center;
  }
  .blogPreview .blogPreviewOne .textContainer p {
    text-align: left;
  }
  .blogPreview .blogPreviewOne .textContainer button {
    margin-bottom: 80px;
  }
  .blogPreview .blogPreviewTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogPreview .blogPreviewTwo .imgContainer {
    width: 80%;
    bottom: 0px;
    left: -22px;
  }
  .blogPreview .blogPreviewTwo .imgContainer img {
    -webkit-box-shadow: 20px 20px #b9dde7, 205px 20px #b9dde7;
            box-shadow: 20px 20px #b9dde7, 205px 20px #b9dde7;
  }
  .blogPreview .blogPreviewTwo .textContainer {
    width: 80%;
    padding-right: 0;
    padding-top: 65px;
    text-align: center;
  }
  .blogPreview .blogPreviewTwo .textContainer p {
    text-align: left;
  }
  .blogPreview .blogPreviewTwo .textContainer .rightAlignedButton {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .aboutJourney .wrapper .imgContainer {
    width: calc(32% - 20px);
  }
  .aboutJourney .wrapper .textContainer {
    width: calc(68% - 85px);
    margin-left: 85px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  section.blogPost .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section.blogPost .wrapper .sideContentContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-right: 0;
    padding-bottom: 80px;
  }
  section.blogPost .wrapper .sideContentContainer .sideAbout {
    width: 49%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.blogPost .wrapper .sideContentContainer .sideAbout img {
    width: 250px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section.blogPost .wrapper .sideContentContainer .sideRecent {
    width: 49%;
  }
  section.blogPost .wrapper .mainBlogContainer {
    width: 100%;
  }

  section.contactPage .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.contactPage .wrapper .sideContentContainer {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  section.contactPage .wrapper .sideContentContainer .contactSide ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    left: 12px;
  }
  section.contactPage .wrapper .contactForm {
    width: 100%;
  }
}
@media (max-width: 710px) {
  header.homepage .headerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.homepage .headerContainer .imgContainer {
    max-width: 80%;
  }
  header.homepage .headerContainer .imgContainer img {
    -webkit-box-shadow: 15px 15px white;
            box-shadow: 15px 15px white;
  }
  header.homepage .headerContainer .headerTitle {
    width: auto;
    margin-left: 0;
    margin-top: 60px;
  }
  header.homepage .headerContainer .headerTitle h1 {
    font-size: calc(350% + 30 * (100vw - 300px) / 200);
    padding-top: 25px;
  }
  header.homepage .headerContainer .headerTitle h1 img {
    width: 22vw;
    right: -9%;
    bottom: 9%;
  }
}
@media (max-width: 651px) {
  .mainNav {
    display: none;
  }

  .mobileNav {
    display: block;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #b9dde7;
  }
  .mobileNav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 10px 15px;
  }
  .mobileNav .hamburger ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobileNav .hamburger li {
    color: white;
    font-size: 2rem;
    position: relative;
    padding: 0px 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .mobileNav .hamburger li:hover, .mobileNav .hamburger li:focus, .mobileNav .hamburger li:focus-within {
    color: #171717;
  }
  .mobileNav .hamburger li:hover .subMenu, .mobileNav .hamburger li:focus .subMenu, .mobileNav .hamburger li:focus-within .subMenu {
    height: auto;
  }
  .mobileNav ul.subMenu {
    position: absolute;
    right: -15px;
    height: 0;
    overflow: hidden;
    background-color: #b9dde7;
    padding: 5px 5px;
    border-radius: 5%;
  }
  .mobileNav ul.subMenu li {
    padding-bottom: 10px;
  }
  .mobileNav ul.subMenu a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 3px dotted transparent;
  }
  .mobileNav ul.subMenu a:hover, .mobileNav ul.subMenu a:focus {
    border-bottom: 3px dotted #227284;
  }
}
@media (max-width: 635px) {
  header.homepage .headerContainer .headerTitle h1 img {
    right: -9%;
    bottom: 15%;
  }

  .siteOverview .siteOverviewImg {
    height: 30vh;
  }
  .siteOverview .siteOverviewImg img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }

  .siteOverview .wrapper .overviewContainer {
    width: 100%;
    margin: auto;
  }
  .siteOverview .wrapper .overviewContainer .iconContainer {
    right: -2vw;
  }
  .siteOverview .wrapper .overviewContainer .textContainer {
    margin-left: 30px;
  }
  .siteOverview .wrapper .overviewContainer .textContainer p {
    margin-bottom: 45px;
  }
}
@media (max-width: 531px) {
  header.homepage .headerContainer .headerTitle h1 img {
    right: -8%;
    bottom: 21%;
  }
}
@media (max-width: 501px) {
  .wrapper {
    width: 95%;
  }

  header.homepage .headerContainer .headerTitle h1 img {
    width: 25vw;
    bottom: 21%;
    right: -10%;
  }

  .blogPreview .blogPreviewTwo .imgContainer {
    left: 0px;
  }

  .aboutJourney .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutJourney .wrapper .imgContainer {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutJourney .wrapper .textContainer {
    width: 85%;
    margin: 30px auto 70px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .gallery .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 45px auto;
  }
  .gallery .wrapper .imgContainer {
    width: 90%;
    margin: 0;
    padding: 20px 0 20px 0;
  }
  .gallery .wrapper .imgContainer img {
    width: 100%;
  }

  header.subpage {
    padding-bottom: 80px;
  }
  header.subpage .headerImgContainer {
    height: 30vh;
  }
  header.subpage .headerImgContainer img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }

  section.blogPost .wrapper .sideContentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.blogPost .wrapper .sideContentContainer .sideAbout,
section.blogPost .wrapper .sideContentContainer .sideRecent {
    width: 100%;
  }

  .mainBlogContainer .commentsContainer .commentOne,
.mainBlogContainer .commentsContainer .commentTwo {
    padding: 40px 30px;
  }
  .mainBlogContainer .commentsContainer .commentOne .imgContainer,
.mainBlogContainer .commentsContainer .commentTwo .imgContainer {
    width: 20%;
  }
  .mainBlogContainer .commentsContainer .commentOne .textContainer,
.mainBlogContainer .commentsContainer .commentTwo .textContainer {
    margin-left: 30px;
    width: calc(80% - 30px);
  }

  section.blogPost .wrapper .sideContentContainer .sideRecent {
    padding: 37px 20px;
  }

  form #name,
form #email {
    padding: 20px 30px 15px 30px;
  }
  form textarea {
    padding: 30px 30px;
  }

  footer p {
    font-size: 0.8rem;
  }
}
@media (max-width: 431px) {
  header.subpage .wrapper h1 {
    font-size: 3.3rem;
    line-height: 3rem;
    top: -40px;
  }
}
@media (max-width: 401px) {
  p {
    font-size: 0.9rem;
  }

  header.homepage .headerContainer .headerTitle h1 img {
    bottom: 26%;
  }

  .aboutJourney .wrapper .imgContainer {
    width: 70%;
  }

  header.subpage.contact .wrapper h1 {
    font-size: 3rem;
    line-height: 3rem;
    top: -40px;
  }

  form #name,
form #email {
    font-size: 85%;
  }
  form textarea {
    font-size: 85%;
  }
}
@media (max-width: 351px) {
  header.homepage .headerContainer .headerTitle h1 img {
    bottom: 25%;
    right: -8%;
  }
}
@media (max-width: 331px) {
  header.homepage .headerContainer .headerTitle h1 img {
    bottom: 27%;
    right: -8%;
  }

  .gallery .wrapper .imgContainer {
    padding: 10px 0 10px 0;
  }

  .mainBlogContainer .commentsContainer .commentOne,
.mainBlogContainer .commentsContainer .commentTwo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mainBlogContainer .commentsContainer .commentOne .imgContainer,
.mainBlogContainer .commentsContainer .commentTwo .imgContainer {
    width: 30%;
    margin-bottom: 10px;
  }
  .mainBlogContainer .commentsContainer .commentOne .textContainer,
.mainBlogContainer .commentsContainer .commentTwo .textContainer {
    margin-left: 0;
    width: 100%;
  }
  .mainBlogContainer .commentsContainer .commentOne .textContainer span.date,
.mainBlogContainer .commentsContainer .commentTwo .textContainer span.date {
    padding-bottom: 10px;
  }

  header.subpage.contact .wrapper h1 {
    font-size: 2.6rem;
    line-height: 3rem;
    top: -40px;
  }

  form #name,
form #email {
    font-size: 67%;
  }
  form textarea {
    font-size: 67%;
  }

  footer p {
    font-size: 0.6rem;
  }
}