@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
}

h1, h2, h3, h4, blockquote {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #171717;
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 92px;
  letter-spacing: 0.05rem;
}

h2 {
  font-size: 2.1rem;
  letter-spacing: 0.05rem;
}

h3 {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
}

h4 {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

p {
  font-family: "Cabin", sans-serif;
  line-height: 32px;
  letter-spacing: 0rem;
  color: #171717;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul a {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  color: #171717;
  line-height: 29px;
  letter-spacing: 0.05rem;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper {
  width: 80%;
  max-width: 1260px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

button {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  color: #171717;
  line-height: 32px;
  letter-spacing: 0.05rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f38d8d;
  border: none;
  padding: 9px 34px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus {
  background-color: #b9dde7;
}

.mainNav {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #b9dde7;
}
.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainNav ul li {
  margin: 20px 25px 20px 25px;
}
.mainNav ul a.logo {
  font-size: 2rem;
  padding-left: 25px;
  padding-right: 25px;
}
.mainNav ul a:hover,
.mainNav ul a:focus {
  color: white;
}
.mainNav ul a.currentPage {
  color: white;
}
.mainNav ul a.currentPage:hover, .mainNav ul a.currentPage:focus {
  color: #171717;
}

header.homepage {
  background-color: #b9dde7;
  height: 100vh;
}
header.homepage .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
header.homepage .headerContainer .imgContainer img {
  -webkit-box-shadow: 20px 18px white;
          box-shadow: 20px 18px white;
  position: relative;
  top: 60px;
}
header.homepage .headerContainer .headerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header.homepage .headerContainer .headerTitle h1 {
  font-size: 7.5rem;
  position: relative;
  margin-left: 84px;
}
header.homepage .headerContainer .headerTitle img {
  position: absolute;
  bottom: 6px;
  right: -50px;
}

header.subpage {
  padding-bottom: 95px;
  background-color: #f6f6f6;
}
header.subpage .wrapper {
  position: relative;
}
header.subpage .wrapper h1 {
  position: absolute;
  top: -60px;
}

.aboutSummary {
  background-color: #f6f6f6;
  padding-top: 110px;
  padding-bottom: 110px;
}
.aboutSummary .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.aboutSummary .aboutContainer {
  width: 50%;
}

.siteOverview {
  background-color: #f6f6f6;
}

.siteOverview .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
  padding-bottom: 130px;
}
.siteOverview .wrapper .overviewContainer {
  width: calc(50% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 20px 25px;
}
.siteOverview .wrapper .overviewContainer .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -5px;
  right: 22px;
}
.siteOverview .wrapper .overviewContainer .iconContainer i {
  text-align: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #b9dde7;
  padding-top: 15px;
}

.blogPreviewOne,
.blogPreviewTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blogPreviewOne .imgContainer,
.blogPreviewTwo .imgContainer {
  width: 50%;
}
.blogPreviewOne .textContainer,
.blogPreviewTwo .textContainer {
  width: 50%;
}
.blogPreviewOne .textContainer p,
.blogPreviewTwo .textContainer p {
  margin-bottom: 35px;
}
.blogPreviewOne .textContainer button,
.blogPreviewTwo .textContainer button {
  padding: 9px 28px;
}

.blogPreviewOne .imgContainer {
  position: relative;
  top: -45px;
}
.blogPreviewOne .imgContainer img {
  -webkit-box-shadow: 20px 20px #68b0c1, -155px 20px #68b0c1;
          box-shadow: 20px 20px #68b0c1, -155px 20px #68b0c1;
}
.blogPreviewOne .textContainer {
  padding-left: 120px;
  padding-top: 95px;
}
.blogPreviewOne .textContainer button {
  margin-bottom: 45px;
}

.blogPreviewTwo .imgContainer {
  position: relative;
  bottom: -30px;
}
.blogPreviewTwo .imgContainer img {
  -webkit-box-shadow: 20px 20px #b9dde7, 155px 20px #b9dde7;
          box-shadow: 20px 20px #b9dde7, 155px 20px #b9dde7;
}
.blogPreviewTwo .textContainer {
  padding-right: 125px;
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blogPreviewTwo .textContainer .rightAlignedButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.blogPreviewTwo .textContainer .rightAlignedButton button {
  margin-bottom: 80px;
}

.aboutJourney {
  background-color: #f6f6f6;
}
.aboutJourney .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.aboutJourney .wrapper .imgContainer {
  width: calc(25% - 20px);
  margin-top: 170px;
  margin-bottom: 110px;
}
.aboutJourney .wrapper .imgContainer img {
  -webkit-box-shadow: 20px 20px #227284;
          box-shadow: 20px 20px #227284;
}
.aboutJourney .wrapper .textContainer {
  width: calc(75% - 125px);
  margin-top: 170px;
  margin-left: 125px;
}
.aboutJourney .wrapper .textContainer p {
  margin-bottom: 35px;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .wrapper .imgContainer {
  width: calc(33% - 36px);
  margin: 95px 18px;
}

.sideContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 38px;
  width: 30%;
}

section.blogPost {
  background-color: #f6f6f6;
}
section.blogPost .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.blogPost .wrapper .mainBlogContainer {
  width: calc(70% - 38px);
}

.sideAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 37px 37px;
  margin-bottom: 16px;
}
.sideAbout p {
  margin-bottom: 0;
}
.sideAbout h4 {
  margin-top: 20px;
}

.sideRecent {
  background-color: white;
  padding: 37px 37px;
  margin-bottom: 16px;
}
.sideRecent ul {
  padding: 30px 20px 0px 20px;
}
.sideRecent ul li {
  list-style-type: "•";
  padding-left: 0.8rem;
  margin-bottom: 10px;
}
.sideRecent a {
  color: #171717;
}
.sideRecent a:hover, .sideRecent a:focus {
  color: #f38d8d;
}

.postContent {
  background-color: white;
  padding: 45px 40px;
  margin-bottom: 30px;
  border-bottom: 5px solid #227284;
}

.commentsContainer {
  border-bottom: 5px solid #227284;
  margin-bottom: 30px;
}
.commentsContainer .commentOne,
.commentsContainer .commentTwo {
  background-color: white;
  padding: 45px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.commentsContainer .commentOne .imgContainer,
.commentsContainer .commentTwo .imgContainer {
  width: 10%;
}
.commentsContainer .commentOne .imgContainer img,
.commentsContainer .commentTwo .imgContainer img {
  min-width: 100%;
}
.commentsContainer .commentOne .textContainer,
.commentsContainer .commentTwo .textContainer {
  margin-left: 20px;
  width: calc(90% - 20px);
}
.commentsContainer .commentOne .textContainer p,
.commentsContainer .commentTwo .textContainer p {
  margin: 0;
}
.commentsContainer .commentOne .textContainer .date,
.commentsContainer .commentTwo .textContainer .date {
  display: inline-block;
  width: 100%;
}
.commentsContainer .commentOne {
  margin-bottom: 20px;
}

section.contactPage {
  background-color: #f6f6f6;
}
section.contactPage .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 37px 37px;
  margin-bottom: 16px;
}
.contactSide ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactSide ul li {
  text-decoration: none;
  color: #227284;
  font-size: 1.5rem;
  margin-right: 30px;
}
.contactSide ul li a:hover,
.contactSide ul li a:focus {
  color: #b9dde7;
}
.contactSide p {
  margin: 0 0;
}
.contactSide .harperEmail {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 20px 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 95px;
}
form #name {
  margin-right: 10px;
}
form #name,
form #email {
  width: calc(50% - 5px);
  border: none;
  border-bottom: 5px solid transparent;
  font-family: "Cabin", sans-serif;
  padding: 30px 40px 20px 40px;
}
form #name::-webkit-input-placeholder, form #email::-webkit-input-placeholder {
  color: #171717;
  opacity: 1;
}
form #name::-moz-placeholder, form #email::-moz-placeholder {
  color: #171717;
  opacity: 1;
}
form #name:-ms-input-placeholder, form #email:-ms-input-placeholder {
  color: #171717;
  opacity: 1;
}
form #name::-ms-input-placeholder, form #email::-ms-input-placeholder {
  color: #171717;
  opacity: 1;
}
form #name::placeholder,
form #email::placeholder {
  color: #171717;
  opacity: 1;
}
form #name:focus,
form #email:focus {
  outline: none;
  border-bottom: 5px solid #227284;
}
form textarea {
  width: 100%;
  margin: 18px 0px;
  border: none;
  border-bottom: 5px solid transparent;
  font-family: "Cabin", sans-serif;
  padding: 45px 40px;
  resize: none;
}
form textarea::-webkit-input-placeholder {
  color: #171717;
  opacity: 1;
}
form textarea::-moz-placeholder {
  color: #171717;
  opacity: 1;
}
form textarea:-ms-input-placeholder {
  color: #171717;
  opacity: 1;
}
form textarea::-ms-input-placeholder {
  color: #171717;
  opacity: 1;
}
form textarea::placeholder {
  color: #171717;
  opacity: 1;
}
form textarea:focus {
  outline: none;
  border-bottom: 5px solid #227284;
}
form button {
  width: 100%;
}

.contactForm {
  width: calc(70% - 38px);
}

footer {
  text-align: center;
  background-color: #171717;
}
footer p {
  color: #f6f6f6;
  margin: 0 auto;
  padding: 12px 0;
  line-height: 1rem;
}